@charset "utf-8";

@import url('reset.css');
@import url('slide.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif&display=swap');

@font-face {
    font-family:'Nanum Gothic';     
    src:url(../webfont/NanumGothic.eot);
    font-style: normal;
    font-weight: normal; 
}
@font-face {
    font-family:'Nanum Gothic';     
    src:url(../webfont/NanumGothic.woff);
    font-style: normal;
    font-weight: normal; 
}


/* ******* 접근성 ******* */
.visibility-hidden {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px; 
  overflow: hidden;
  clip: rect(1px,1px,-1px,-1px);
  white-space: nowrap;
}
.screen_out {
  overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}


/* 건너뛰기를 위한 css : classname 수정하기 */
[href="#main_page"]{
  position: absolute;
  top: 0;
  right: 100%/* 회면 밖으로 이동 */
}
[href="main_page"]:focus {
  right: auto;
}





/* ******* common 키워드 - 공통 재사용 할때 ******** */
.clear:after {
  content:'';
  display: block;
  clear: both;
}
hr {
  display:block;
  height:2px;
  border:0;
  margin:0;
  padding:0;
}





/* ******* form base ********* */
/* input */
input {
  margin:0;
  padding:0;
  box-sizing:content-box;
  vertical-align:top;
  appearance:none;
  border:1px solid #e65d5d;
  color:#e65d5d;
  border-radius:0; 
  font-family:NanumGothic,나눔고딕,'Nanum Gothic','맑은 고딕',HelveticaNeue,DroidSans,Sans-serif,Helvetica;
}



/* place holder */
::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
  color:#3f51b5;
}    
::-moz-input-placeholder, ::-moz-textarea-placeholder {
  color:#3f51b5;
}


/* textarea */
textarea {
  width:100%;
  margin:0;
  padding:0;
  border:0;
  border-bottom:1px solid #757575;
  color:#3f51b5;
  font-family:'Montserrat';
  font-size:12px;
  vertical-align:top;
  border-radius:0;
  box-sizing:content-box;
  appearance:none;
}


/* button */
button {
 background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}




/* checkbox */
.checkbox {

}
.checkbox:focus {
  border-width: 2px;
  border-color: #0d66d0;
}

.checkbox-label input:focus + .checkbox_box {
  outline: 2px solid #0d66d0;
  outline-offset: -1px;
}





/* form - 그룹 정렬 + 재사용 + 폼 기타 태그 추가하기 */
.form_group {
  margin-bottom: 15px;
}

.field_label {
  display: block;
  font-size: 0.8rem;
}

.textfield, 
.dropdown_fixed button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #d3d3d3;
}






/* a link */
a { 
  display: block;
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration:none;
  color:#323232;
  color: inherit;
}
a:link, 
a:visited {
  font-size: 14px;
  padding: 2px;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #555;
}
a:active {
  background-color: #000;
}



/* 본문 a링크 별도 
.content a {
  color: #0d66d0;
}
.content a:hover, 
.content a:focus {
  text-decoration: underline;
}

*/







/* ----------------- layout --------------------- */
/* 
container, content, column
dummy

popular-post-section, 
sec-title, sec-name       

banner_box_01
banner_box_02
*/




/* 기본 CSS */
* {
  box-sizing: border-box;
}
body {
    width: 640px;
    max-width:640px;
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    line-height: 21px;
}
#wrapper {}



#container {
  transition: margin-left .5s;
}
.container {}
main {
 
}
.main {}
.contents {
  padding: 20px;
}


section {
  width:100%;
  margin-bottom: 20px;
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items:center;
}


/* Flex - 정렬 키워드
.column {
  flex-basis: calc(50% - 15px);
  flex-shrink: 1;
}
.column {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 10px;
}
.column:first-of-type {
  margin-left: 0px;
}
.column:last-of-type {
  margin-right: 0px;
}
 */





/* ----------------- heading(title) + text (해딩정렬 속성 키워드 추가히기) ----------------- */
h1, h2, h3, h4, h5 {
    color: #111;
    letter-spacing: -1px;
    font-weight: 900;
}
h1 {font-size: 3em;}
h2 {font-size: 2.25em;}
h3 {font-size: 1.5em;}



/* 본문내 헤딩 */
.heading {

}
.heading h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 40px;
}









p {
  margin: 1.5rem 0;
  font-size: 1rem;/* 기본값이므로 생략가능 */
  list-height: 1.5;
  color: #222;/* 너무 극명한 대비는 혼돈 줄수도 - 살짝 완화해라 */

}






/* ------------- TEXT keyword : 재사용 키워드 ------------ */
.text {
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 1.5rem;
}
.text-light {font-weight:300;}
.text-normal {font-weight:400;}
.text-bold {font-weight:700;}
.text-bolder {font-weight:800;}





/* ------------- TEXT ALIGN ------------- */
.text-left {
    text-align: left;    
}
.text-center {
    text-align: center;    
}
.text-right {
    text-align: right;    
}




/* img */
section .img {
  text-align: center;
}





/* table */
table col {
  width: calc(100% / 6);
}







/* flex
 display: flex;
  flex-direction: column;
  justify-content: center;



   display: flex;
  justify-content: space-between;
  align-items: center;


    flex-basis: 60%;


      display: flex;
  flex-wrap: wrap;
  justify-content: center;

    flex-direction: column;
    align-items: flex-start;


      flex-grow: 1; 



  display: flex;
  flex-flow: row wrap;/* flex-flow:  column wrap;  
  justify-content: space-between;   justify-content: center; 
 align-content: space-evenly; 
 align-items:  center; 

*/













